<!DOCTYPE html>
<html lang="en">
<head>
    <lasso-head/>
</head>
<body>
    <p class="layout">
        I am styled from layout/style.css
    </p>
    <include (input.body)/>
    <lasso-body/>
</body>
</html>