<lasso-page package-path="./browser.json"/>
<include('../../layout/index.marko')>
<@body>
<p class="slash">
    I am styled from pages/slash/style.css
</p>
<working-component/>
<broken-component/>
</@body>
</include>